<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xian.mapper.ChaptersMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="chapterId">

        insert into chapters(course_id,title,description,created_at,updated_at) values(#{courseId},#{title},#{description},now(),now())
    </insert>

    <select id="getChapters" resultType="com.xian.model.Chapters">
        select * from chapters where course_id = #{courseId}
    </select>
</mapper>
